/*
 * Target IE 6, 7 and 8 (less than IE9)
 */
/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
html {
  font-size: 81.3%;
}



.gridview .views-field-field-title-description {
display: block;
max-width: 100%;
background-color: #f4f4f4;
padding: 5px;
}



.gridview .views-row {
background-color: transparent;
width: 31%;
padding: 1%;
float: left;
vertical-align:top;
height: 12em;
margin-bottom: 1em;
overflow: hidden;
}

.gridview .views-row img:hover {
opacity: .8;
}


.gridview .views-row img {
width: 100%;
max-width: 382px;
/*This is a Firefox and Opera Hack!!!!!!! */ 
}